
<div class="topnav" id="myTopnav">

    
    <a href="/" style="float:left"><div class="topnav-logo"> </div></a>

        <a href="/Home/Contact">
            <div class="hover">
                Contact Us
            </div>
        </a>

        <a href="/Home/About">
            <div class="hover" style="">
                About Us
            </div>
        </a>

        <a href="/Home/Products">
            <div class="hover">
                Products
            </div>
        </a>

        <a href="/" class="home-svg"> </a>

        <i><a onclick="on()" class="menu-icon"></a></i>

   
</div>


<div id="overlay" onclick="off()">
    <div class="wrap">
        <div class="wrap-nav">
            <h4>
                <a href="/">Home</a>
            </h4>

            <hr class="solid-line1">


            <h4>
                <a href="/Home/Products">Products</a>

            </h4>

            <hr class="solid-line1">

            <h4>
                <a href="/Home/About">About Us</a>

            </h4>

            <hr class="solid-line1">

            <h4>
                <a href="/Home/Contact">Contact</a>
            </h4>

        </div>
    </div>
</div>


<script>
    function on() {

        var x = document.getElementById("overlay");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }

    (function () {			
    // Get the modal
        var modal = document.getElementById('overlay');
      
        if (modal.style.display == "block") {
            modal.style.display = "none";
        }
 

    })();
</script>

<script>
    // Get the modal
    var modal = document.getElementById('overlay');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

