
<div class="topnav" id="myTopnav">

    
    <a href="/" style="float:left"><div class="topnav-logo"> </div></a>

        <a href="/Home/Contact">
            <div class="hover">
                Contact Us
            </div>
        </a>

        <a href="/Home/About">
            <div class="hover" style="">
                About Us
            </div>
        </a>

        <a href="/Home/Products">
            <div class="hover">
                Products
            </div>
        </a>

        <a href="/" class="home-svg"> </a>

        <i><a onclick="on()" class="menu-icon"></a></i>

   
</div>


<div id="overlay" onclick="off()">
    <div class="wrap">
        <div class="wrap-nav">
            <h4>
                <a href="/">Home</a>
            </h4>

            <hr class="solid-line1">


            <h4>
                <a href="/Home/Products">Products</a>

            </h4>

            <hr class="solid-line1">

            <h4>
                <a href="/Home/About">About Us</a>

            </h4>

            <hr class="solid-line1">

            <h4>
                <a href="/Home/Contact">Contact</a>
            </h4>

        </div>
    </div>
</div>


<script>
    function on() {
        document.getElementById("overlay").style.display = "block";
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }
</script>

