/*#region XXXXXX*/
/*#endregion XXXXXX*/
/*#region General*/
div > a {
  color: #666666; }

/*#endregion General*/
/*#region Banner*/
.section-banner {
  position: relative;
  padding-top: 70px; }

/*#endregion General*/
/*#region Body*/
/*#region Contact*/
.contact-left-container {
  width: 50%;
  padding-right: 4%;
  padding-left: 13%;
  float: left;
  height: 900px;
  background-color: #FFFFFF;
  color: #666666; }

.contactus-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

.contact-column {
  margin-bottom: 20px; }

.dash-line {
  display: none;
  border: 0 none;
  border-top: 2px dashed rgba(0, 0, 0, 0.1);
  background: none;
  height: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px; }

.green-solid-line {
  border: 0 none;
  border-top: 1px solid rgba(146, 166, 44, 0.5);
  background: none;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

.line-in-right {
  border-right: 1px dashed #ccc; }

/*#region Icon*/
.icon-size {
  height: 25px;
  width: 25px;
  margin-right: 32px; }

.Dark-Phone {
  background-image: url("/images/Shared/Dark-Phone.svg"); }

.Dark-Email {
  background-image: url("/images/Shared/Dark-Email.svg"); }

.Dark-Clock {
  background-image: url("/images/Shared/Dark-Clock.svg"); }

.Dark-Address {
  background-image: url("/images/Shared/Dark-Address.svg"); }

/*#endregion Icon*/
#map {
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 55px;
  height: 310px; }

/*#endregion Contact*/
/*#region Message*/
.contact-right-container {
  width: 50%;
  float: left;
  height: 900px;
  background-color: #F2F2F2;
  padding-right: 13%;
  padding-left: 4%;
  color: #666666; }

.form-label {
  width: 100%; }

input[type=text], select, textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 2px;
  resize: vertical;
  line-height: normal;
  color: #666666; }

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  line-height: normal; }

input[type=text], textarea {
  padding-left: 5px; }

input[type=submit]:hover {
  background-color: #45a049; }

input, select, textarea {
  background-color: #F2F2F2; }

.label-text {
  display: inline-block;
  max-width: 100%;
  margin-top: 7px;
  margin-bottom: 1px;
  font-weight: normal; }

.btn-send {
  border: 0;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 6px 13px;
  position: relative;
  background: #3E7830;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 150px;
  border-radius: 5px;
  margin-top: 14px; }

.btn-rqd {
  float: right;
  margin-top: 6px;
  width: 70px;
  height: 20px;
  border-radius: 12px;
  border: 0;
  color: white;
  font-size: 12px;
  cursor: auto;
  position: relative;
  background: #999999;
  white-space: nowrap;
  display: inline-block; }

/*#endregion Message*/
/*#endregion Body*/
/*#region Mobile Only*/
.mobile-banner-text {
  margin-top: 30px;
  display: none;
  text-align: center;
  font-size: 20px;
  color: #666666; }

/*#endregion Mobile Only*/
/*#region Media*/
@media screen and (max-width: 960px) {
  .contact-left-container {
    padding-left: 10%;
    height: 750px; }
  .contact-right-container {
    padding-right: 10%;
    height: 750px; }
  #map {
    height: 285px; }
  .btn-rqd {
    width: 57px;
    height: 15px;
    font-size: 10px; } }

/* Mobile */
@media screen and (max-width: 736px) {
  .section-banner {
    padding-top: 50px; }
  .mobile-banner-text {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px; }
  .dash-line {
    display: block; }
  .line-in-right {
    border: 0; }
  .contact-right-container {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    height: 720px; }
  .contact-left-container {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    height: 710px; } }

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  .dash-line {
    display: block; }
  .line-in-right {
    border: 0; } }

/*#endregion Media*/

