/*#region XXXXXX*/
/*#endregion XXXXXX*/
/*#region Auto Slide */
@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slider .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14); }
  .slider .slide {
    height: 400px;
    width: 100%; }

/*#endregion Auto Slide*/
/*#region Solid Line*/
.solid-line-relative {
  border: 0 none;
  border-top: 8px solid #92A62C;
  background: none;
  height: 0;
  width: 100%;
  position: relative;
  margin: 0; }

/*#endregion Solid Line*/
/*#region Description*/
.wrap-text {
  margin: auto;
  width: 890px;
  padding-bottom: 50px; }

/*#endregion Description*/
/*#region Flex Image */
.image-container {
  margin: 0 auto;
  width: 1300px;
  padding-bottom: 140px; }

.img-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  text-align: center;
  justify-content: center; }

.img-flex-container > div {
  background-color: white;
  padding: 12px; }

.img-flex-container > div > img {
  width: 190px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.33);
  border-radius: 3px; }

.img-flex-container > div > img:hover {
  transform: scale(1.1); }

/*#endregion Flex Image*/
/*#region Media*/
@media screen and (max-width: 1440px) {
  .image-container {
    width: 900px; }
  .img-flex-container > div > img {
    width: 200px; }
  .wrap-text {
    width: 806px; } }

@media screen and (max-width: 960px) {
  .image-container {
    width: 100%; }
  .wrap-text {
    width: 527px; } }

@media screen and (max-width: 736px) {
  .image-container {
    width: 460px;
    padding-bottom: 60px; }
  .wrap-text {
    width: 85%;
    padding-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .image-container {
    width: 95%;
    padding-bottom: 35px; }
  .single-image {
    width: calc(50% - 15px); }
  .img-flex-container > div > img {
    width: 100%; } }

/*#endregion Media*/

