@{
    ViewData["Title"] = "About";
}

@section style {

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true">
}

    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/scrollview.js"></script>

        <section id="section01" class="relative">
            <img src="~/images/About/About Us Main BG.png" style="width:100%; ">

            <div class="slide-info">
                <h1>Theres a <b class="yellowgreen"> lot more</b> to us than just packaging. </h1>
            </div>

        </section>


        <div class="sec-2-bg" id="section02">

            <img style="float: left;margin: 0px 0px 15px 15px;height: 600px;width: 400px;" alt="Image Sample 5" src="~/images/About/man.png" width="100">

            <div data-position="right" data-offset="250" class="side-content notViewed animBlock" style="border-left: 5px solid #92A62C;">
                <h2 class="yellowgreen">Our Story </h2>
                <p class="white">
                    In 1993, our founders had a disagreement with a packaging supplier, we deserved a better package, they could provide it,  so we thought, why not do it ourselves. <br /> <br /> We did, and packfresh was born, over time, more an more clients sought out our services, and now we provide an end to end solution thats great quality and affordable.

                    You deserve better, find out how we can help
                </p>
            </div>

        </div>


        <div id="section03" class="relative" style="height: 600px;">

            <div style="width:40%">

                <div data-position="left" data-offset="250" class="side-content notViewed animBlock right" style="border-right: 5px solid #92A62C; width:40%">
                    <h2 class="yellowgreen">Our People</h2>
                    <p class="white">
                        The Pack-Fresh family is as diverse as our product range, we employ a small group of talented pros, who keep our business moving forward. <br /> <br />

                        We‘ve entrusted our legacy and the reputation of our company to this fine team and know you can too.
                    </p>
                </div>

            </div>

            <!-- Photo Grid -->

            <div class="photo-container">

                <div class="con-flex">
                    <div class="single-image"><img src="/images/Index/image.png" class="box-shadow"></div>
                    <div class="single-image"><img src="/images/Index/image (2).png" class="box-shadow"></div>
                    <div class="single-image"><img class="box-shadow" src="/images/Index/image (3).png"></div>
                    <div class="single-image"><img class="box-shadow" src="/images/Index/image (4).png"></div>
                    <div class="single-image"><img class="box-shadow" src="/images/Index/image (5).png"></div>
                    <div class="single-image"><img class="box-shadow" src="/images/Index/image (1).png"></div>
                </div>

            </div>

            <!-- Photo Grid -->

        </div>


        <section id="section04" class="relative">
            <div style="width: 55%;">
                <div class="logo-flex-container">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                    <img src="~/images/About/Our Client Logo example.jpg">
                </div>
            </div>


            <div data-position="right" data-offset="250" class="side-content notViewed animBlock" style="border-left: 5px solid #92A62C;">
                <h2 class="yellowgreen">Our Clients </h2>
                <p class="white">
                    <strong>
                        Your Team + Our Team <br />
                        = The Complete Package
                    </strong>
                    <br />
                    <br />
                    We’re proud to be working with local and
                    global brands across New Zealand. .
                    <br />
                    <br />
                    The Pack-Fresh family is as diverse as our
                    product range, we employ a small group
                    of talented pros, who keep our business
                    moving forward.
                </p>
            </div>


        </section>


        <section id="section05" class="section05">
            <div>
                <div data-position="left" data-offset="250" class="side-content notViewed animBlock" style="border-right: 5px solid #92A62C;">
                    <h2 class="yellowgreen">Our Promise to You</h2>
                    <p class="white">
                        Good things come in small packages
                        and big ones too.
                        <br />
                        <br />
                        You have an expectation and our mission
                        is to beat that expectation each and every
                        time. We achieve this by listening to your
                        needs, offering sound advice and by
                        removing any roadblocks along the way.
                    </p>
                </div>
            </div>

            <div>
                <div class="one-3-parent">

                    <h2>
                        We live this by delivering a quality product:
                    </h2>

                    <div class="one-3-Container">
                        <section>

                            <div class="Time"></div>
                            <div class="one-3-Container-info">
                                <h3>On Time</h3>

                            </div>
                        </section>
                    </div>
                    <div class="one-3-Container ">
                        <section>
                            <div class="Spec"></div>
                            <div class="one-3-Container-info">
                                <h3>On Spec</h3>

                            </div>
                        </section>
                    </div>
                    <div class="one-3-Container " style="margin-right: 0;">
                        <section>

                            <div class="Budget"></div>
                            <div class="one-3-Container-info">
                                <h3>On Budget</h3>

                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </section>

        <div class="Contact-banner">
            <div class="CB-container">
                <div class="CB-con-text">
                    <h3 style="font-weight: bold">Were here to help, contact Pack-fresh now.</h3>
                </div>

                <div class="Consult"></div>
            </div>
        </div>
    </body>
