@{
    ViewData["Title"] = "Contact";
}

@section style
    {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/contact.js" asp-append-version="true"></script>
}



<!-- Banner -->
<section class="section-banner">

    <img class="banner-image" src="~/images/Contact/Asset 1-100.jpg" alt="Nature" style="width:100%;">
 
    <div class="slide-info">
       
        <h1> We’re here to <strong>help you.</strong> </h1>
        <h3>
            Got Questions? Looking for a greener alternative or a customised packaging solution, but you don’t know where you should start.
        </h3>

    </div>

    <div class="h1-mob">
        We’re here to <strong>help you.</strong>
    </div>

    
</section>

<div class="contactus-container">
    
    <div class="mobile-banner-text">
        Got Questions? Are you looking for a <strong style="color:darkgreen">greener</strong> alternative or a custom packaging solution but you don’t know where you should start. <strong>We have the answers.</strong>
        <hr class="dash-line" style="margin-top: 40px;">

    </div>

    <div class="contact-left-container line-in-right">
        <h2 class="h2-padding yellowgreen center">
            Contact us directly.
        </h2>


        <div>
            <div class="float-left Dark-Phone icon-size ">  </div>
            <div> (09) 250 1418 </div>
            <hr class="green-solid-line" />
        </div>


        <div class="contact-column">
            <div class="float-left Dark-Email icon-size ">  </div>
            <div> <a href="mailto:orders@packfresh.co.nz?Subject=Enquiry" target="_top">orders@packfresh.co.nz</a> </div>
            <hr class="green-solid-line" />
        </div>

        <div class="contact-column">
            <div class="float-left Dark-Clock icon-size ">  </div>
            <div> <strong> 8am - 4.30pm </strong>Mon to Fri</div>
            <hr class="green-solid-line" />
        </div>

        <div class="contact-column">
            <div class="float-left Dark-Address icon-size ">  </div>
            <div> 20a Arwen Place East Tamaki Auckland </div>
        </div>

        <div id="map" class=" map-box"></div>


    </div>

    <hr class="dash-line ">

    <div class="contact-right-container">

        <h2 class="h2-padding yellowgreen center">
            Send us a message
        </h2>


        <form method="post">

            <div class="form-label">
                <label class="label-text">Name</label>
                <button class="btn-rqd">Required</button>
            </div>

            <div>
                <input type="text" name="name">
            </div>


            <div class="form-label">
                <label class="label-text">Email Address </label>
                <button class="btn-rqd">Required</button>
            </div>

            <div>
                <input type="text" name="name" required>
            </div>

            <div class="form-label">
                <label class="label-text">Contact Phone </label>
                <button class="btn-rqd">Required</button>
            </div>

            <div>
                <input type="text" name="name">
            </div>

            <label class="label-text">Company Name </label>

            <div>
                <input type="text" name="name">
            </div>

            <div class="form-label">
                <label class="label-text">Reason for enquiry</label>
                <button class="btn-rqd">Required</button>
            </div>

            <div>

                <select id="feedback" name="feedback">
                    <option value="General">General</option>
                    <option value="Re-Order">Re-Order</option>
                    <option value="Custom Print">Custom Print</option>
                    <option value="Custom Packaging">Custom Packaging</option>
                    <option value="Product Feedback">Product Feedback</option>
                </select>
            </div>


            <label class="label-text">How can we help you </label>
            <button class="btn-rqd">Required</button>

            <div>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:210px"></textarea>

            </div>


            <button type="submit" class="btn-send"><div class="strong-bold">SEND</div></button>

        </form>




    </div>


</div>


<script>
    function initMap() {
        var uluru = { lat: - 36.948363, lng: 174.881956 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Pack Fresh Company, Inc.'
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-Qvx0aqKhMoxFn-ztznopEPnPOmvLhmE&callback=initMap">
</script>


