@{
    ViewData["Title"] = "Home Page";
}




@section style {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true">
}


<body>



    <div class="relative">


        <div class="bg-slides">
            <img src="~/images/Index/HP.png" style="width:100%">
            <div class="slide-info">
                <h1>
                    If it’s big or small <br /> <strong>we package it all.</strong>
                </h1>
                <h3>
                    @*With over 25 years in the industry, we have the knowledge to help you make the right choices that work best with your product. Speak to one of our friendly team today.*@
                    Got Questions? Looking for a greener alternative or a customised packaging solution, but you don’t know where you should start.
                </h3>

                <div class="navigator-text" style="padding-top: 15px;">
                    Contact us
                    <div class="navigator"></div>
                </div>

            </div>

            <div class="mobile-banner-text">
                With over 25 years in the industry, we have the knowledge to help you make the right choices that work best with your product. Speak to one of our friendly team today.

                <hr class="dash-line" style="margin-top: 40px;">
            </div>


        </div>


        <div class="bg-slides">
            <img src="~/images/Index/HP.png" style="width:100%">
            <div class="slide-info">
                <h1>
                    Your product’s <strong>unique</strong>. <br /> Is your <strong>package</strong>?
                </h1>
                <h3>
                    @*We offer a range of products, that can be customised to your needs. Whether it’s a custom size, thickness, an eco-friendly alternative or a fully customised printed package. We can help.*@

                    Got Questions? Looking for a greener alternative or a customised packaging solution, but you don’t know where you should start.
                </h3>
                <div class="navigator-text">
                    Contact us
                    <div class="navigator"></div>
                </div>
            </div>


            <div class="mobile-banner-text">
                We offer a range of products, that can be customised to your needs. Whether it’s a custom size, thickness, an eco-friendly alternative or a fully customised printed package. We can help.

                <hr class="dash-line" style="margin-top: 40px;">
            </div>


        </div>


        <div class="bg-slides">
            <img src="~/images/Index/HP.png" style="width:100%">
            <div class="slide-info">
                <h1>
                    Keep it <strong>green</strong> with <br /> NatureFlexTM
                </h1>
                <h3>
                    @*Our company is dedicated to reducing its carbon footprint, we stock a range of quality compostable, bio-degradable products. If your looking for a green alternative, talk to us today.*@
                    Got Questions? Looking for a greener alternative or a customised packaging solution, but you don’t know where you should start.
                </h3>

                <div class="navigator-text">
                    Learn more
                    <div class="navigator"></div>
                </div>

            </div>

            <div class="mobile-banner-text">
                Our company is dedicated to reducing its carbon footprint, we stock a range of quality compostable, bio-degradable products. If your looking for a green alternative, talk to us today.

                <hr class="dash-line" style="margin-top: 40px;">
            </div>

        </div>


        <div class="bg-slides">
            <img src="~/images/Index/HP.png" style="width:100%">
            <div class="slide-info">
                <h1 >
                    On Time, On Spec <br /> <strong>On Budget.</strong>
                </h1>
                <h3>
                    @* We’ll work with you to solve your packaging needs. We promise to deliver a quality product to you on time, as per your specifications, at an honest and reasonable price.*@
                    Got Questions? Looking for a greener alternative or a customised packaging solution, but you don’t know where you should start.
                </h3>

                <div class="navigator-text" style="padding-top: 15px;">
                    <strong>Contact us </strong>
                    <div class="navigator"></div>
                </div>

            </div>

            <div class="mobile-banner-text">
                We’ll work with you to solve your packaging needs. We promise to deliver a quality product to you on time, as per your specifications, at an honest and reasonable price.

                <hr class="dash-line" style="margin-top: 40px;">
            </div>

        </div>


    </div>


    <script>
        //Start This is for the background slider

        var myIndex = 0;
        carousel();


        function carousel() {
            var i;
            var x = document.getElementsByClassName("bg-slides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }

        //End This is for the background slider


    </script>



    <div class="what-we-do">


        <div class="left-container line-in-right">

                <h2 class="yellowgreen" style="margin: 0;">What we do</h2>
                <p>
                    Every customers needs are different so we produce, source and supply a variety of products to meet those needs. <br /> <br /> We work tirelessy to keep on top of global
                    trends, health standards and more efficient ways to pack your products, so you dont have to. Add in custom sizing, materials and printed designs, we provide the total package at a fair and honest price. <br /> <br /> We do all of this,
                    so you, our customers can focus on pushing your product, rather than packaging it.
                </p>
                <hr class="center-line" />
                <p class="yellowgreen" id="cta">
                    <strong>Contact us </strong>
                    <div id="nav" class="navigator" style="position: relative;left: 112px; bottom: 23px; transform: rotate(-0deg);"> </div>
                </p>


        </div>

        <div class="right-container">

            <div class="con-flex">

                <div class="single-image"><img src="/images/Index/image.png" class="box-shadow"></div>
                <div class="single-image"><img src="/images/Index/image (2).png" class="box-shadow"></div>
                <div class="single-image"><img class="box-shadow" src="/images/Index/image (3).png"></div>
                <div class="single-image"><img class="box-shadow" src="/images/Index/image (4).png"></div>
                <div class="single-image"><img class="box-shadow" src="/images/Index/image (5).png"></div>
                <div class="single-image"><img class="box-shadow" src="/images/Index/image (1).png"></div>

                <!-- Photo Grid -->


            </div>

            <div style="text-align: center;">
                <span class="dot active" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

    </div>

    <div class="help-you">
        <div class="body-h" style=" text-align: center;color: #ffffff;"> How we can help you</div>
        <div class="body-p container-intro">
            Getting the edge over the competition is your goal, providing the package that achieves this is ours. We will help you choose the optimal package, size and materials to fit your products requirements. We also offer a custom printing service to help bring
            your product to life
        </div>

        <div class="one-3-parent">
            <div class="one-3-Container">
                <section>

                    <div class="phone-icon"></div>
                    <div class="one-3-Container-info">
                        <div class="container-h">Consult</div>
                        <div class="container-p">
                            Call us, message us, pop in for a chat, we’ll discuss your needs and come up with a solution that best suits your product, your deadline and your budget.
                        </div>
                    </div>
                </section>
            </div>
            <div class="one-3-Container ">
                <section>
                    <div class="phone-icon"></div>
                    <div class="one-3-Container-info">
                        <div class="container-h">Agree</div>
                        <div class="container-p">
                            Once your happy with the solution, we’ll take a deposit and get your order under way, our team will keep you posted as to the progress of the order.
                        </div>
                    </div>
                </section>
            </div>
            <div class="one-3-Container " style="margin-right: 0;">
                <section>

                    <div class="phone-icon"></div>
                    <div class="one-3-Container-info">
                        <div class="container-h">Deliver</div>
                        <div class="container-p">
                            Sit back and relax. Well be in touch once the order is done and arrange delivery or pick-up depending on your preference. Enjoy your new package.
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>

    <div class="slideshow-container">
        <div class="mySlidesx fadex">
            <img src="~/images/Index/review-image.png" style="width:100%">
            <div class="text">Caption Text</div>
        </div>
        <div class="mySlidesx fadex">
            <img src="~/images/Index/review-image.png" style="width:100%">
            <div class="text">Caption Two</div>
        </div>
        <div class="mySlidesx fadex">
            <img src="~/images/Index/review-image.png" style="width:100%">
            <div class="text">Caption Three</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div style="text-align:center ;position: absolute;bottom: 14px;left: 58%;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>


    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlidesx");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

</body>
