@{
    ViewData["Title"] = "Products";
}


@section style {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Products.css" asp-append-version="true">


}

    <body>

        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 1.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 2.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 3.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 4.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 1.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 2.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 3.png" height="400" alt="" />
                </div>
                <div class="slide">
                    <img src="~/images/Products/Slide/slide 4.png" height="400" alt="" />
                </div>
            </div>
        </div>

        <hr class="solid-line-relative">

        <h2 class="h2-padding yellowgreen center">
            Our Products
        </h2>

        <h3 class="center wrap-text gray40">
            Click on one of our products to open it’s range, if you can’t find the product your after,
            get in touch with our team and we’ll see how we can help you.
        </h3>


        <div class="image-container">

            <div class="img-flex-container" style="line-height: 0;">
                <a><div class="single-image"><img src="~/images/Products/Nature Flex Cello Fixed.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Polyproylene Cello.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/perforated bag.svg"></div></a>
                <a href="@Url.Action("Product", "Home")"><div class="single-image"><img src="~/images/Products/Stand Up Pouch.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Side Gusset.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Tin Tie.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Coffee Bags.svg"></div></a>
                <a> <div class="single-image"><img src="~/images/Products/Flat Bottom.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Heavy Duty.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Heat Sealers.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Scoops.svg"></div></a>
                <a><div class="single-image"><img src="~/images/Products/Stock Clearance.svg"></div></a>


            </div>
        </div>


    </body>