@{
    ViewData["Title"] = "ViewProduct";
}

@section style {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/ViewProduct.css" asp-append-version="true">
    <script src="~/js/ViewProduct.js"></script>
}

    <body>


        <script>
            function onStory() {
                document.getElementById("story").style.display = "block";
                document.getElementById("main").style.display = "none";
                document.getElementById("people").style.display = "none";
                document.getElementById("promise").style.display = "none";
                document.getElementById("float").style.display = "block";
            }

            function onPeople() {
                document.getElementById("story").style.display = "none";
                document.getElementById("main").style.display = "none";
                document.getElementById("people").style.display = "block";
                document.getElementById("promise").style.display = "none";
                document.getElementById("float").style.display = "block";

            }

            function onPromise() {
                document.getElementById("story").style.display = "none";
                document.getElementById("main").style.display = "none";
                document.getElementById("people").style.display = "none";
                document.getElementById("promise").style.display = "block";
                document.getElementById("float").style.display = "block";
            }

            function onClients() {
                document.getElementById("story").style.display = "none";
                document.getElementById("main").style.display = "none";
                document.getElementById("people").style.display = "none";
                document.getElementById("clients").style.display = "block";
                document.getElementById("float").style.display = "block";
            }

        </script>

        <div id="float">
            <button class="each-float" onclick="onStory()"> Our Products </button>
            <button class="each-float" onclick="onPeople()"> Nature-Flex Range </button>
            <button class="each-float" onclick="onPromise()"> Polypropylene Range  </button>
            <button class="each-float" onclick="onClients()"> Micro Perforated  </button>
            <button class="each-float" onclick="onStory()"> Our Products </button>
            <button class="each-float" onclick="onPeople()"> Nature-Flex Range </button>
            <button class="each-float" onclick="onPromise()"> Polypropylene Range  </button>
            <button class="each-float" onclick="onClients()"> Micro Perforated  </button>
            <button class="each-float" onclick="onStory()"> Our Products </button>
            <button class="each-float" onclick="onPeople()"> Nature-Flex Range </button>
            <button class="each-float" onclick="onPromise()"> Polypropylene Range  </button>
            <button class="each-float" onclick="onClients()"> Micro Perforated  </button>
        </div>

        @*END BLOCK FOR LEFT RIGHT FLOAT MENU*@


        <div style="padding-top:70px">
            <div><img src="~/images/Product/Temp BG-100.jpg" style="width:100%"></div>
        </div>

        <div class="top-pouch">

            <div class="pouch-left">

                <h2 class="yellowgreen pouch-h2">
                    Stand Up Pouches
                </h2>

                <p>
                    Stand up pouches are a versatile, cost effective way to package
                    foods, liquids and non-food items. It can be manufactured in
                    several sizes and materials with customer friendly features,
                    such as zippers, tear notches, hang holes, even vents. Given its
                    flat front and back design, its ideal for custom printing. <br /> <br />

                    <b>Common Uses:</b>
                    <br />
                    Dried and fresh foods, cured meats, herbs, spices, Powders,
                    coffee, tea. Can also be used to store non food items.
                </p>


            </div>

            <div class="pouch-right">
                <img src="~/images/ViewProduct/Product Page - Scale.svg" style="width: 100%">
            </div>

            <hr class="solid-line-dark" style="position: relative;width: 100%;">

            <div class="specifications-left">

                <h2 class="yellowgreen pouch-h2">Specifications</h2>

                <div class="sp-1">
                    <div class="vp-body-p"> <strong>Optional Features:</strong></div>
                    <select id="optional-features" name="optional-features">
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                    </select>

                    <br />
                    <br />
                    <div class="vp-body-p"> <strong>Available Sizes:</strong></div>
                    <select id="optional-features" name="optional-features">
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                    </select>

                    <br />
                    <br />
                </div>


                <div class="sp-2">
                    <div class="vp-body-p">   <strong>Materials:</strong></div>
                    <select id="optional-features" name="optional-features">
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                        <option value="Zipper + Rectangle Window">Zipper + Rectangle Window</option>
                    </select>

                    <br />
                    <br />
                    <div class="vp-body-p"><strong>Colours:</strong> Gloss Black</div>
                    <div>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                        <button class="button">A</button>
                    </div>
                </div>

            </div>


            <div class="specifications-right">

                <div class="card-flex-container">
                    @for (var i = 0; i < 8; i++)
                {

                    <div class="card">
                        <img src="~/images/ViewProduct/Product Dummy Image.jpg" alt="Product Image">
                        <div class="card-info">

                            <div class="card-rect">

                                <div class="card-p" style="color: #ffffff; padding-top: 17px;"><strong>250gm Stand Up Pouch</strong></div>
                                <div class="card-p" style="color: #ffffff">+ Zipper + Window + Valve</div>
                            </div>

                            <div>

                                <div style="padding-top: 12.5px; padding-bottom: 12.5px; padding-left:15px;  padding-right:15px">
                                    <img class="img-icon" src="~/images/ViewProduct/Size Icon.svg" alt="" />
                                    <span class="card-p">1000 x 1000 x 1000mm</span>

                                </div>

                                <div class="solid-line-dark" style="margin-left:15px;  margin-right:15px"></div>



                                <div style="padding-top: 12.5px; padding-bottom: 12.5px; padding-left:15px;  padding-right:15px">
                                    <img class="img-icon" src="~/images/ViewProduct/Colour Icon.svg" alt="" />
                                    <span class="card-p">Clear/Gloss Black</span>

                                </div>

                                <div class="solid-line-dark" style="margin-left:15px;  margin-right:15px"></div>

                                <div style="padding-top: 12.5px; padding-bottom: 12.5px; padding-left:15px;  padding-right:15px">
                                    <img class="img-icon" src="~/images/ViewProduct/Code Icon.svg" alt="" />
                                    <span class="card-p">XXXXXX</span>
                                </div>
                            </div>
                        </div>

                    </div>


            }
                </div>

            </div>


        </div>

        <div class="bottom-info">
            <div style="width: 45%; margin: 0 auto; ">
                <div class="vp-body-p" style="width: 84%; margin: 0 auto;  text-align:center; color:#ffffff; float:left; padding-top: 50px; font-size: 19px">
                    We customise, if you can’t find the type, size or specification your after,
                    get in touch wit our team, and we’ll see how we can help you.
                </div>

                <div class="phone-icon"></div>
            </div>

        </div>



    </body>

